
body {
  background-color: rgb(39, 112, 39);
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p {
  font-size: 40px;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  width: 350px;
  color: rgb(39, 112, 39);
  background: goldenrod;
  font-size: 40px;
  padding: 10px 0px;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}
.btn {
  margin-top: 15px;
}